/* Add here all your CSS customizations */
.navbar-default{
	background-color: #fff;
	/* border-bottom: transparent;  */
}
.navbar-default a {
	font-weight: 200;
}
.body{
	padding-top: 51px;
}
#about-me{
	background-color: #ecf1f7;
}